/build-msvc/
/build/
/lab1/build-msvc/
/lab2/build-msvc/
/lab3/build-msvc/
/lab3/logs/
/lab3/lab3.log*
/lab3/lab3_shared.bin*
/lab4/build-msvc/
/lab4/logs/
/lab5/build-msvc/
/lab5/logs/
/lab5/db/
/lab5/web/node_modules/
/lab5/web/dist/
/lab6/build-msvc/
/lab6/logs/
/lab6/db/
/CMakeFiles/
/CMakeCache.txt
/*.user
