/build/
/lab1/build/
/lab2/build/
/lab3/build/
/lab3/logs/
/lab3/lab3.log*
/lab3/lab3_shared.bin*
/lab4/build/
/lab4/logs/
/lab5/build/
/lab5/logs/
/lab5/db/
/lab5/web/node_modules/
/lab5/web/dist/
/lab6/build/
/CMakeFiles/
/CMakeCache.txt
/*.user
